body {
    min-width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

a {
	text-decoration: none;
}

#album-container {
  column-count: 3;
  column-gap: 3px;
  -webkit-column-count: 3;
  -webkit-column-gap: 3px;
  -moz-column-count: 3;
  -moz-column-gap: 3px;
}

#album-container img {
	width: 100% !important;
  	height: auto !important;
}

body {
	background-color: #f3f5f6;
}
#modal-container.hide {
	display: none;
}

#modal-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 650px;
	width: 100%;
	height: 100%;
	background-color: #212124;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#modal-content {
	height: 500px;
	width: auto;
}
#modal-image-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}
#carousel-container {
	margin-top: 30px;
}
#carousel-container img {
	opacity: 0.5;
	height: 40px;
	width: 40px;
	margin: 0 5px;
}
#carousel-container img.center {
	opacity: 0.8;
	border: 1px solid white;
}
#close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-image: url(./assets/close.png);
    background-size: 501px 209px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: -103px -123px;
    opacity: 0.4;
}

#close-btn:hover {
	opacity: 0.8;
}

#right-arrow {
	right: 20px;
	background-position: -28px -49px;
}
#left-arrow {
	left: 20px;
	background-position: 0 -49px;
}

.arrow {
	background-size: 500px 137px;
	position: absolute;
	top: 50%;
	opacity: 0.4;
	background-image: url(./assets/arrows.png);
	background-repeat: no-repeat;
	height: 45px;
    width: 27px;
}

.arrow:hover {
	opacity: 0.8;
}





